# source file related
*.pyc
*.o



*.so
*.egg
*.egg-info



# training related
*.log
*.pth
*.pt
*.model
*.0

# result related
apendix_answers/
ckpt/
ckpt3d/

*.jsonl
answers/ablation_summary*


# assets related
data/
datasets/
model_zoo/

# package related
